<div class="headline">
  <h1>Personal Bilance Software</h1>
  <h2>Keep your finance on track.</h2>
</div>
<div class="wrapper">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>LOGIN</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>E-Mail</mat-label>
        <input name="email" required="true" matInput placeholder="E-Mail" />
        <mat-hint class="alert hide">Field is required!</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Password</mat-label>
        <input
          name="password"
          required="true"
          matInput
          placeholder="password"
        />
        <mat-hint class="alert hide full-width">Field is required!</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="dashboard">
        LOGIN
      </button>
      <button mat-raised-button routerLink="signup">SIGNUP</button>
    </mat-card-actions>
  </mat-card>
</div>
