<div
  *ngIf="
    router.url != '/' && router.url != '/signup';
    then template1;
    else template2
  "
></div>

<!-- View with Navbar in App -->
<ng-template #template1>
  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <!-- Sidenav Menu -->
      <div class="img-container">
        <img src="./assets/icons/icon-128x128.png" alt="" />
      </div>

      <ul>
        <li routerLink="dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </li>
        <li>
          <mat-icon>account_balance</mat-icon>
          Accounts
        </li>
        <li routerLink="user">
          <mat-icon>settings</mat-icon>
          User Settings
        </li>
      </ul>
      <div class="bottom" routerLink="user">
        <div class="item pointer"><mat-icon>policy</mat-icon>Legacy</div>
      </div>
    </mat-drawer>

    <div class="sidenav-content">
      <!-- Toolbar -->
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div class="pointer">
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
          </div>
          <div>PBS</div>
        </mat-toolbar-row>
      </mat-toolbar>
      <!-- CONTENT -->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</ng-template>

<!-- View without Navbar for LOGIN and SIGN-UP -->
<ng-template #template2>
  <router-outlet></router-outlet>
</ng-template>
