<div class="wrapper">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>SIGNUP</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>E-Mail</mat-label>
        <input
          name="email"
          required="true"
          type="email"
          matInput
          placeholder="E-Mail"
        />
        <mat-hint class="alert hide">Field is required!</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Password</mat-label>
        <input
          name="password"
          required="true"
          type="password"
          matInput
          placeholder="password"
        />
        <mat-hint class="alert hide full-width">Field is required!</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Repeat password</mat-label>
        <input
          name="password2"
          required="true"
          type="password"
          matInput
          placeholder="password"
        />
        <mat-hint class="alert hide full-width">Field is required!</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="dashboard">
        SIGNUP
      </button>
      <button mat-raised-button routerLink="">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div>
