/* You can add global styles to this file, and also import other style files */

:root {
  --bg-color-main: rgba(63, 81, 181, 0.3);
  --bg-color-second: rgb(225, 227, 240);
  --alert: red;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color-main);
}

.d-none {
  display: none;
}

.alert {
  color: var(--alert);
}

.pointer {
  cursor: pointer;
}
